# npm
node_modules
package-lock.json
*.log
*.gz
dist
# Coveralls
.nyc_output
coverage
.env

# Benchmarking
benchmarks/graphs
united-perigee-318916-407034b16ebf.json
united-perigee-318916-380388633427.json
# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
